$primary: #ff6838;
$light: #fdf8f7;
$dark: #000929;

@import "./scss/bootstrap";
:root {
  font-size: 14px;
  --bs-body-font-size: 1rem;
  --bs-body-color: $dark;

  @include media-breakpoint-up(md) {
    font-size: 18px;
    h1 {
      font-size: 56px;
    }
    h3 {
      font-size: 44px;
    }
  }
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.btn-primary {
  --bs-btn-color: white;
}
h1,
h3 {
  font-family: "Playfair Display";
}
h1 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
p {
  color: rgba($dark, 0.7);
}

.rounded {
  border-radius: 20px !important;
  @include media-breakpoint-up(md) {
    border-radius: 40px !important;
  }
}

nav.navbar {
  padding: 0.75rem 1rem;
  .navbar-brand img {
    height: 28px;
  }
  background-color: $light;
  .navbar-toggler {
    border: transparent;
  }
  border-bottom: 1px solid rgba(0, 9, 41, 0.07);
  @include media-breakpoint-up(md) {
    background-color: white;
    //border-bottom: none;
    padding: 1.2rem 1rem;
    .navbar-brand img {
      height: 35px;
    }
  }
  .navbar-nav {
    .nav-link {
      color: rgba($dark, 0.9);
      &.active {
        text-decoration: underline;
        color: rgba($dark, 0.9);
      }
    }
    @include media-breakpoint-up(lg) {
      padding-left: 2rem;
      border-left: 1px solid rgba($dark, 0.3);
      margin-left: 2rem;
      .nav-link {
        padding: 0 1.2rem;
      }
    }
  }

  --bs-navbar-color: rgba($dark, 0.7);
  --bs-navbar-hover-color: rgba($dark, 0.85);
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.5);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
}
header {
  position: relative;
  overflow: hidden;
  .copy {
    p {
      font-size: 14px;
      @include media-breakpoint-up(md) {
        font-size: 20px;
      }
    }
    z-index: 2;
    @include media-breakpoint-up(md) {
      padding: 4rem 2rem;
    }
  }
  .image {
    @include media-breakpoint-up(md) {
      position: absolute;
      right: -10%;
    }
  }
}
#rental {
  .shadow {
    box-shadow: 0px 2px 35px rgba(126, 186, 255, 0.25) !important;
  }
}
#process {
  .shadow {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
  }
}
#map img {
  width: 100%;
  height: 650px;
}
#faq {
  .accordion-button {
    font-weight: 600;
    font-size: 18px;
    position: relative;
    padding-right: 2rem;
    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
    &::after {
      flex-shrink: 0;
      width: var(--bs-accordion-btn-icon-width);
      height: var(--bs-accordion-btn-icon-width);
      font-family: bootstrap-icons !important;
      margin-left: 0;
      right: 4px;
      position: absolute;
      content: "\F4F9";
      transform: none;
      background-image: none;
    }
    &:not(.collapsed) {
      --bs-accordion-active-color: $dark;
      --bs-accordion-active-bg: transparent;
      &::after {
        content: "\F2E5";
      }
    }
  }
}
footer {
  img {
    height: 40px;
  }
  p,
  a {
    text-decoration: none;
    color: rgba($dark, 0.7);
  }
}

.card {
  width: 276px;
  border: none;
  .card-body {
    --bs-card-spacer-y: 35px;
    --bs-card-spacer-x: 25px;
  }
  .card-title {
    color: #00288e;
  }
  .card-text {
    font-size: 18px;
  }
}
